In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('Production Report June-August 2022-2.xlsx')

In [4]:
df.tail()

,M/C Brand,Production Date,M/C Dia & Gauge,Body Part,Booking Type,Yarn Count,Lot,Construction,Composition,Color,...,Stich,Dia,GSM,SHIFT-A,SHIFT-B,SHIFT-C,Without Shift(Outbound),Shift Total,Machine Total,Reject Qty
12564,Lisky,20-08-2022,30 X 20,NaN,NaN,"28/1,75D/36F,12/1",2251/8548/579,"Fleece, 87% Cotton 13% Polyester",NaN,PVC BLACK,...,4.75/3.15/2.20,62,350,0.01,0.0,0.00,NaN,0.01,0.01,0
12565,Lisky,20-08-2022,30 X 20,NaN,NaN,"28/1,75D/36F,12/1",2251/8543/579,"Fleece, 87% Cotton 13% Polyester",NaN,PVC BLACK,...,4.75/3.15/2.20,62,350,0.01,0.0,0.00,NaN,0.01,0.01,0
12566,Lisky,25-08-2022,30 X 20,NaN,NaN,"30/1,75D/36F,12/1",308030/Q083036T2,"Fleece, 87% Cotton 13% Polyester",NaN,MINSTY,...,4.80/3.15/1.66,67,295,0.01,0.0,0.00,NaN,0.01,0.01,0
12567,Lisky,25-08-2022,30 X 20,NaN,NaN,"30/1,75D/36F,12/1",30809/Q083036T2,"Fleece, 87% Cotton 13% Polyester",NaN,MINSTY,...,4.80/3.15/1.66,67,295,53.70,0.0,0.00,NaN,53.70,53.70,0
12568,Lisky,28-08-2022,30 X 20,NaN,NaN,"30/1,75D/36F,12/1",30809/Q083036T2/222,"Fleece, 87% Cotton 13% Polyester",NaN,MINSTY,...,4.80/3.15/1.66,67,295,0.00,0.0,0.01,NaN,0.01,0.01,0

In [20]:
df['Production Date'].str.split('-', expand=True)[1].value_counts()

1
06    4401
08    4300
07    3868
Name: count, dtype: int64

In [4]:
df.columns

Index(['M/C Brand', 'Production Date', 'M/C Dia & Gauge', 'Body Part',
       'Booking Type', 'Yarn Count', 'Lot', 'Construction', 'Composition',
       'Color', 'Color Range', 'Stich', 'Dia', 'GSM', 'SHIFT-A', 'SHIFT-B',
       'SHIFT-C', 'Without Shift(Outbound)', 'Shift Total', 'Machine Total',
       'Reject Qty'],
      dtype='object')

In [5]:
#in maximum cases the factory used Fukuhara machine so we can fill the missing values with Fukuhara
df['M/C Brand']= df['M/C Brand'].fillna('Fukuhara')

In [6]:
df['M/C Brand'].isna().sum()

0

In [7]:
df['Yarn Count']

0        2022-01-24 00:00:00
1        2022-01-24 00:00:00
2        2022-01-24 00:00:00
3        2022-01-24 00:00:00
4        2022-01-24 00:00:00
                ...
12564      28/1,75D/36F,12/1
12565      28/1,75D/36F,12/1
12566      30/1,75D/36F,12/1
12567      30/1,75D/36F,12/1
12568      30/1,75D/36F,12/1
Name: Yarn Count, Length: 12569, dtype: object

In [8]:
#it seems the excel file auto convert the datatype to data type; so lets convert it as string
df['Yarn Count']= df['Yarn Count'].apply(lambda x: str(x.day)+'/'+'1' if type(x).__name__ == 'datetime' else x)

In [9]:
# df['Yarn Count']= df['Yarn Count'].apply(lambda x: x.day if type(x).__name__ == 'datetime' else x)

In [10]:
df['Yarn Count'].isna().sum()

33

In [11]:
df.columns

Index(['M/C Brand', 'Production Date', 'M/C Dia & Gauge', 'Body Part',
       'Booking Type', 'Yarn Count', 'Lot', 'Construction', 'Composition',
       'Color', 'Color Range', 'Stich', 'Dia', 'GSM', 'SHIFT-A', 'SHIFT-B',
       'SHIFT-C', 'Without Shift(Outbound)', 'Shift Total', 'Machine Total',
       'Reject Qty'],
      dtype='object')

In [12]:
# filling the yarn count

# Filling the yarn missing counts: 33 yarn count values are missing, we know yarn count is closely related to GSM and Body Parts, so we will take the missing values from GSM and body parts

In [12]:
#making a dataframe of the missing yarn_count values 
body_part_ =[]
count_ =[]

gsm_ =[]
for body_part, gsm in zip(df[df['Yarn Count'].isna()]['Body Part'],
                         df[df['Yarn Count'].isna()]['GSM']):
    body_part_.append(body_part)
    gsm_.append(gsm)
    try:
        count_.append(df[(df['Body Part'] == body_part) & (df['GSM'] == gsm)]['Yarn Count'].value_counts().index[0])
    except:
        count_.append('30/1')

In [13]:
filling_vlaues_count= pd.DataFrame({'Body_Part': body_part_, 'GSM': gsm_, 'Yarn_count': count_ })
filling_vlaues_count['GSM'] = filling_vlaues_count['GSM'].astype(int)
filling_vlaues_count

             Body_Part  GSM         Yarn_count
0      Main Fabric Top  320  34/1,20/D,50D/36F
1               Collar  650          150D/144F
2               Collar  650          150D/144F
3               Collar  650          150D/144F
4                 Body  200          30/1,40/D
5               Bottom  160          34/1,20/D
6               Bottom  160          34/1,20/D
7               Bottom  160          34/1,20/D
8               Bottom  160          34/1,20/D
9                  Rib  350          20/1,55/D
10                Body  180               24/1
11                Body  180               24/1
12     Main Fabric Top  140               30/1
13     Main Fabric Top  280  32/1,10/1,75D/36F
14  Main Fabric Bottom  250          40/1,30/D
15                Cuff  200               28/1
16         Body part-1  220          30/1,40/D
17         Body part-1  180          30/1,20/D
18                 Rib  250          30/1,40/D
19     Main Fabric Top  160               28/1
20              Bottom  160          34/1,20/D
21     Main Fabric Top  140               30/1
22             Binding  210               32/1
23             Binding  210               32/1
24             Binding  210               32/1
25     Main Fabric Top  160               28/1
26                Body  140               32/1
27             Binding  180     40/D,100D/144F
28                 Rib  410          20/1,70/D
29            Neck Rib  280       27/1,50D/36F
30            Neck Rib  280       27/1,50D/36F
31  Main Fabric Bottom  160          40/1,20/D
32                Body  320  34/1,20/D,50D/36F

In [14]:
#to extract the count from gsm and body_part
def extract_count(gsm):
    return filling_vlaues_count.apply(lambda x: True if x['GSM'] == gsm else False , axis=1)

In [15]:
filling_vlaues_count[extract_count(160)]['Yarn_count'].values

array(['34/1,20/D', '34/1,20/D', '34/1,20/D', '34/1,20/D', '28/1',
       '34/1,20/D', '28/1', '40/1,20/D'], dtype=object)

In [16]:
filling_vlaues_count[extract_count(320)]['Yarn_count'].values

array(['34/1,20/D,50D/36F', '34/1,20/D,50D/36F'], dtype=object)

In [17]:
df['Yarn_Count']= df.apply(lambda x: filling_vlaues_count[extract_count(int(x['GSM']))]['Yarn_count'].values[0]
         if pd.isna(x['Yarn Count']) else x['Yarn Count'] , axis=1)

In [18]:
# df[df['Yarn Count'].isna()][['Yarn Count', 'Yarn_Count', 'GSM']]

In [19]:
df['Yarn_Count'].isna().sum()

0

In [20]:
#lets drop the Yarn Count column
df = df.drop('Yarn Count', axis=1)

# GSM tweaking

In [21]:
gsm_counts = df['GSM'].value_counts()
#it seems some GSM are very rare but close to another available GSM, so lets merge them.
# 156==> 155; 164==>165; 195 ==> 190; 205 == > 200; 283 ==> 285;  295 ==> ; 305 ==> ; 310 ==>305 ;
#410 == > 400;

In [22]:
df['GSM']= df['GSM'].replace([156,164,283 ], [156, 165, 285])

# Filling Body Pats

In [23]:
df.isna().sum()

M/C Brand                     0
Production Date               0
M/C Dia & Gauge               0
Body Part                    52
Booking Type               1388
Lot                          36
Construction                  0
Composition                  52
Color                         4
Color Range                  45
Stich                         0
Dia                           0
GSM                           0
SHIFT-A                       0
SHIFT-B                       0
SHIFT-C                       0
Without Shift(Outbound)      52
Shift Total                   0
Machine Total               359
Reject Qty                 4448
Yarn_Count                    0
dtype: int64

In [24]:
def fill_body_part(x):
    if x['GSM'] == 350:
        return 'Rib'
    elif x['GSM'] == 295:
        return 'Armhole Piping'
    elif x['GSM'] == 170:
        return 'body'
    elif x['GSM'] == 185:
        return 'Pocketing Bottom'
    else:
        return 'Body'

In [24]:
# df.apply(lambda x: x['GSM'].dtypes, axis=1 )

In [25]:
# df[df['Body Part'].isna()][['GSM', 'Body Part']]

In [25]:
df['Body Part']= df.apply(lambda x: fill_body_part(x) if pd.isna(x['Body Part']) else x['Body Part'], axis=1)

In [26]:
df['Yarn_count_length']= df['Yarn_Count'].apply(lambda x: len(x.split(',')))

In [27]:
df.head(2)

,M/C Brand,Production Date,M/C Dia & Gauge,Body Part,Booking Type,Lot,Construction,Composition,Color,Color Range,...,GSM,SHIFT-A,SHIFT-B,SHIFT-C,Without Shift(Outbound),Shift Total,Machine Total,Reject Qty,Yarn_Count,Yarn_count_length
0,Fukuhara,01-06-2022,52 X 14,Collar,Main,MGF-SS-8,Flat Knit Rib,Cotton 100%,PURE WHITE 00010,White Color,...,700,0.0,0.0,23.72,0.0,23.72,211.22,0,24/1,1
1,Fukuhara,01-06-2022,52 X 14,Cuff,Main,MGF-SS-8,Flat Knit Rib,Cotton 100%,PURE WHITE 00010,White Color,...,700,0.0,0.0,31.00,0.0,31.00,NaN,0,24/1,1

In [31]:
# df.isna().sum()

# Filling the Composition

In [32]:
# df[df['Composition'].isna()][['GSM', 'Yarn_Count', 'Composition','Construction', 'Yarn_count_length']]
#so it is clear that the composition in misplaced in Construction column

In [28]:
#the composition colum was cleaned on the bassis of missing construction
df['Construction_cleaned']= df.apply(lambda x: x['Construction'].split(',')[0] if pd.isna(x['Composition'])
                             else x['Construction'], axis=1)

In [29]:
# df[df['Composition'].isna()][['GSM', 'Yarn_Count', 'Composition','Construction',
#                               'Construction_cleaned', 'Yarn_count_length']]
# #so it is clear that the composition in misplaced in Construction column

In [30]:
#here we haved taken the composition from the construction 
df['Composition_filled']= df.apply(lambda x: x['Construction'].split(',')[-1]
         if pd.isna(x['Composition']) else x['Composition'], axis=1)

In [31]:
df[['GSM', 'Yarn_Count','Composition_filled','Construction','Construction_cleaned', 'Yarn_count_length']].head()
#so it is clear that the composition in misplaced in Construction column

,GSM,Yarn_Count,Composition_filled,Construction,Construction_cleaned,Yarn_count_length
0,700,24/1,Cotton 100%,Flat Knit Rib,Flat Knit Rib,1
1,700,24/1,Cotton 100%,Flat Knit Rib,Flat Knit Rib,1
2,700,24/1,Cotton 100%,Flat Knit Rib,Flat Knit Rib,1
3,700,24/1,Cotton 100%,Flat Knit,Flat Knit,1
4,700,24/1,Cotton 100%,Flat Knit,Flat Knit,1

In [37]:
# df['Composition_cleaned']
# df[['GSM', 'Composition_filled', 'Construction_cleaned', 'Lot']].tail(20)
                                                                    
#Lot seems meaning less so we can drop it.

In [33]:
#so we can 
# data = df.drop(['Lot', 'Composition', 'Construction'], axis=1)

## Machine Total is a cumulative production of a single machine for upto few days. so we can not fill the  missing values of machine total. However,we can infer the mean production by using Pivot_table

# Machine total is the total production per machine

In [32]:
df['M/C Brand']=df['M/C Brand'].replace('JiunnLong', 'Jiunn Long')

In [35]:
pd.pivot_table(df, index=['M/C Brand'], values=['Machine Total'] )

            Machine Total
M/C Brand
Fukuhara       183.211141
Hangxing       184.750132
Jiunn Long     106.961588
Lisky          152.841479
Pailung         58.996184
Santoni        132.196941

## Lot number is significant in determininign the color and color range, so we will use lot number to fill color and color range =====>>>>>>>>>>>>>>>>>>>>///

In [33]:
df['Lot']= df['Lot'].apply(lambda x: str(x).strip())
# df['Color']= df['Color'].apply(lambda x: str(x).strip() if x is None)

In [43]:
# df[['Lot', 'Color', 'Color Range']].head(20)
#in most of the cases Color and color range is vey similar so we will use Color range for the missing color
# for a specific lot number.

In [34]:
lot_number =[]
for i in df[df['Color'].isna()]['Lot']:
    lot_number.append(str(i).strip())

In [35]:
lot_number

['PU-JA3181E', 'PU-801-1,PU-Y223009WR', 'PU-Y223009WR', 'PU-Y223009WR']

In [36]:
df[df['Lot']== 'PU-JA3181E']['Color']

2437                         NaN
4988    LIGHT GRAY HEATHER BC04
9165         LIGHT GRAY HEATHER
9441         LIGHT GRAY HEATHER
Name: Color, dtype: object

In [37]:
df[df['Lot']=='PU-801-1,PU-Y223009WR']['Color Range']

5831    Melange
Name: Color Range, dtype: object

In [38]:
df[df['Lot']=='PU-Y223009WR']['Color Range']

5837    Melange
5993    Melange
Name: Color Range, dtype: object

In [39]:
df[df['Lot']=='PU-Y223009WR']['Color Range']

5837    Melange
5993    Melange
Name: Color Range, dtype: object

In [40]:
color_fill_dict = {'PU-JA3181E': 'LIGHT GRAY HEATHER', 'PU-Y223009WR': 'Melange', 
                   'PU-801-1,PU-Y223009WR': 'Melange',
 'PU-Y223009WR': 'Melange'  }

In [41]:
df['Color_filled']= df['Color'].fillna(df['Lot'].apply(lambda x: color_fill_dict[x] if x
                                                       in color_fill_dict.keys() else 0))

# Color Range Fill up

## filling color range with the value of color as color and color range are very similar

In [42]:
df[['Color', 'Color Range']].head()

                                         Color   Color Range
0                            PURE WHITE 00010   White Color
1                            PURE WHITE 00010   White Color
2                    CHARCOAL HEATHER - 00009          Wash
3  RIBBON RED[19-1663 TCX]; 5MM TIPPING-WHITE          Wash
4  RIBBON RED[19-1663 TCX]; 5MM TIPPING-WHITE          Wash

In [43]:
df.loc[12518, 'Color Range']

nan

In [44]:
for ind, value in zip(df[df['Color Range'].isna()]['Color'].index, df[df['Color Range'].isna()]['Color'].values):
    df.loc[ind, 'Color Range']= value.strip()

In [45]:
df.loc[12518, 'Color Range']

'QUITE SHADE'

In [46]:
df.isna().sum()

M/C Brand                     0
Production Date               0
M/C Dia & Gauge               0
Body Part                     0
Booking Type               1388
Lot                           0
Construction                  0
Composition                  52
Color                         4
Color Range                   0
Stich                         0
Dia                           0
GSM                           0
SHIFT-A                       0
SHIFT-B                       0
SHIFT-C                       0
Without Shift(Outbound)      52
Shift Total                   0
Machine Total               359
Reject Qty                 4448
Yarn_Count                    0
Yarn_count_length             0
Construction_cleaned          0
Composition_filled            0
Color_filled                  0
dtype: int64

# filling body part

In [47]:
df[df['Construction']=='Interlock']['Body Part'].value_counts()

Body Part
Body                  80
Main Fabric Top       76
Main Fabric Bottom     2
Name: count, dtype: int64

In [48]:
df[df['Construction']=='Fleece']['Body Part'].value_counts()

Body Part
Main Fabric Top       54
Body                  26
Main Fabric Bottom    20
Body Hood Pocket      11
Bottom                 3
Top Bottom             2
Body [Top Part]        1
Name: count, dtype: int64

## filling the missing body parts

In [49]:
for ind in (df['Body Part'].isna()).index:
    if df.loc[ind, 'Construction_cleaned'] == 'Interlock':
        df.loc[ind, 'Body Part'] == 'Body'
    elif df.loc[ind, 'Construction_cleaned'] == 'Fleece':
         df.loc[ind, 'Body Part'] == 'Main Fabric Top'

In [50]:
df['Booking Type']= df['Booking Type'].fillna('Other')

In [51]:
#drop the duplicate columns filled with other values
# data = df.drop(['Lot', 'Composition','Construction', 'Color' ], axis=1)

In [53]:
df.isna().sum()

M/C Brand                     0
Production Date               0
M/C Dia & Gauge               0
Body Part                     0
Booking Type                  0
Lot                           0
Construction                  0
Composition                  52
Color                         4
Color Range                   0
Stich                         0
Dia                           0
GSM                           0
SHIFT-A                       0
SHIFT-B                       0
SHIFT-C                       0
Without Shift(Outbound)      52
Shift Total                   0
Machine Total               359
Reject Qty                 4448
Yarn_Count                    0
Yarn_count_length             0
Construction_cleaned          0
Composition_filled            0
Color_filled                  0
dtype: int64

# data types manipulation

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12569 entries, 0 to 12568
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   M/C Brand                12569 non-null  object
 1   Production Date          12569 non-null  object
 2   M/C Dia & Gauge          12569 non-null  object
 3   Body Part                12569 non-null  object
 4   Booking Type             12569 non-null  object
 5   Lot                      12569 non-null  object
 6   Construction             12569 non-null  object
 7   Composition              12517 non-null  object
 8   Color                    12565 non-null  object
 9   Color Range              12569 non-null  object
 10  Stich                    12569 non-null  object
 11  Dia                      12569 non-null  object
 12  GSM                      12569 non-null  object
 13  SHIFT-A                  12569 non-null  float64
 14  SHIFT-B                  12569 non-null  float64
 15  SHIFT-C                  12569 non-null  float64
 16  Without Shift(Outbound)  12517 non-null  float64
 17  Shift Total              12569 non-null  float64
 18  Machine Total            12210 non-null  float64
 19  Reject Qty               8121 non-null   object
 20  Yarn_Count               12569 non-null  object
 21  Yarn_count_length        12569 non-null  int64
 22  Construction_cleaned     12569 non-null  object
 23  Composition_filled       12569 non-null  object
 24  Color_filled             12569 non-null  object
dtypes: float64(6), int64(1), object(18)
memory usage: 2.4+ MB

In [55]:
df[['M/C Dia & Gauge', 'Dia', 'Stich', 'GSM', 'Construction']].tail(20)
#contraction == interlock
#twist

,M/C Dia & Gauge,Dia,Stich,GSM,Construction
12549,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12550,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12551,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12552,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12553,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12554,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12555,42 X 14,60,3.00/3.50,283,"Waffle, 65% Polyester 35% Cotton"
12556,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12557,42 X 14,60,3.60/3.004,185,"Waffle, 70% Polyester 30% Cotton"
12558,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12559,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12560,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12561,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12562,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12563,34 X 24,85,1.45/1.50/2.10,170,"Interlock, 58% Polyester 42% Cotton"
12564,30 X 20,62,4.75/3.15/2.20,350,"Fleece, 87% Cotton 13% Polyester"
12565,30 X 20,62,4.75/3.15/2.20,350,"Fleece, 87% Cotton 13% Polyester"
12566,30 X 20,67,4.80/3.15/1.66,295,"Fleece, 87% Cotton 13% Polyester"
12567,30 X 20,67,4.80/3.15/1.66,295,"Fleece, 87% Cotton 13% Polyester"
12568,30 X 20,67,4.80/3.15/1.66,295,"Fleece, 87% Cotton 13% Polyester"

In [57]:
df['M/C Brand'].value_counts()
#fuku dx3 +6
#other dx3
#rib dx2

M/C Brand
Fukuhara      4591
Jiunn Long    2911
Hangxing      2227
Pailung       2041
Lisky          620
Santoni        179
Name: count, dtype: int64

In [58]:
df['Production Date']

0        01-06-2022
1        01-06-2022
2        01-06-2022
3        01-06-2022
4        01-06-2022
            ...
12564    20-08-2022
12565    20-08-2022
12566    25-08-2022
12567    25-08-2022
12568    28-08-2022
Name: Production Date, Length: 12569, dtype: object

In [69]:
df['Production Date'].tail(20)

12549    31-07-2022
12550    01-08-2022
12551    01-08-2022
12552    02-08-2022
12553    02-08-2022
12554    03-08-2022
12555    04-08-2022
12556    04-08-2022
12557    06-08-2022
12558    06-08-2022
12559    07-08-2022
12560    08-08-2022
12561    09-08-2022
12562    10-08-2022
12563    11-08-2022
12564    20-08-2022
12565    20-08-2022
12566    25-08-2022
12567    25-08-2022
12568    28-08-2022
Name: Production Date, dtype: object

In [59]:
# df['Production Date']= 
pd.to_datetime(df['Production Date'], format='%d-%m-%Y ')

0       2022-06-01
1       2022-06-01
2       2022-06-01
3       2022-06-01
4       2022-06-01
           ...
12564   2022-08-20
12565   2022-08-20
12566   2022-08-25
12567   2022-08-25
12568   2022-08-28
Name: Production Date, Length: 12569, dtype: datetime64[ns]

In [61]:
df['month']=pd.to_datetime(df['Production Date'], format="%d-%m-%Y ").dt.month

In [67]:
# df['Month']= 
# pd.to_datetime(df['Production Date'], format='%m-%d-%Y')

In [62]:
def dia_strip(x):
    try:
        return int(x)
    except:
        try: 
            return int(x.split('/')[0])
        except:
            try:
                return int(x.split(',')[0])
            except:
                if 'any' in x.lower():
                    return 0
                else:
                    return x

In [534]:
# df['Dia2']=df['Dia'].str.strip()

In [535]:
# data['M/C Dia & Gauge']

In [63]:
df['m/c_dia']= df['M/C Dia & Gauge'].str.split('X', expand= True)[0].astype(int)
df['m/c_gauge']= df['M/C Dia & Gauge'].str.split('X', expand= True)[1].astype(int)

In [64]:
df['Dia']= df['Dia'].str.strip().replace('ANY', 'any')

In [65]:
def dia_splitter(x):
    try:
        return int(x.split('/')[0])
    except:
        try:
            return int(x.split(',')[0])
        except :
            return x

In [66]:
def dia_converter(x):
    try:
        return int(x)
    except:
        return x

In [67]:
df['fabric_dia_1']=df['Dia'].apply(lambda x: dia_splitter(x))

In [68]:
df['fabric_dia_1']= df['fabric_dia_1'].apply(lambda x: dia_converter(x))

In [69]:
def dia_splitter_2(x):
    try:
        return int(x.split('/')[1])
    except:
        try:
            return int(x.split(',')[1])
        except :
            return x

In [70]:
df['fabric_dia_2']= df['Dia'].apply(lambda x: dia_splitter_2(x))

In [71]:
df['fabric_dia_2']= df['fabric_dia_2'].apply(lambda x: dia_converter(x))

In [72]:
def contraction(x):
    try:
        return x['fabric_dia_1']/x['m/c_dia']
    except:
        return 0

In [73]:
def contraction_2(x):
    try:
        return x['fabric_dia_2']/x['m/c_dia']
    except:
        return 0

In [74]:
df['contraction_1']= df.apply(lambda x: contraction(x), axis=1)

In [75]:
df['contraction_2']= df.apply(lambda x: contraction_2(x), axis=1)

In [78]:
df['contraction']= (df['contraction_1'] + df['contraction_2'])/2

In [79]:
# data[['fabric_dia_1', 'm/c_dia','contraction', 'contraction_1', 'contraction_2' ]].tail(20)

In [80]:
df['Construction_cleaned']= df['Construction_cleaned'].replace('L S/J', 'LS/J')

In [82]:
#number of feeders
def feeder_number(x):
    if (x['M/C Brand'] == 'Fukuhara') & ((x['Construction_cleaned'] == 'S/J') | (x['Construction_cleaned'] == 'LS/J')) :
        return x['m/c_dia']*3 + 6
    elif (x['M/C Brand'] == 'Fukuhara') & (x['Construction_cleaned'] != 'S/J') & (x['Construction_cleaned'] != 'LS/J')  :
        return x['m/c_dia']*3
    else:
        return x['m/c_dia']*2

In [83]:
df['number_of_feeders']= df.apply(lambda x: feeder_number(x), axis=1 )

In [84]:
df['Yarn_Count']

0                     24/1
1                     24/1
2                     24/1
3                     24/1
4                     24/1
               ...
12564    28/1,75D/36F,12/1
12565    28/1,75D/36F,12/1
12566    30/1,75D/36F,12/1
12567    30/1,75D/36F,12/1
12568    30/1,75D/36F,12/1
Name: Yarn_Count, Length: 12569, dtype: object

In [85]:
df['yarn_count_1'] = df['Yarn_Count'].str.split(',', expand = True)[0].str.split('/', expand = True)[0]

In [86]:
df['yarn_count_1']= df['Yarn_Count'].str.split(',', expand = True)[0]

In [87]:
def count_converter(x):
    try:
        if 'D' not in x:
            return 590.6/int(x[:2])
        elif 'D' in x:
            denier = int(x[:2])
            return denier/9
        else:
            return 0
    except:
        return x

In [88]:
df['yarn_count_tex_1']= df['yarn_count_1'].apply(lambda x: count_converter(x))

In [89]:
# data['yarn_count_1'] = 
df['yarn_count_tex_2']= df['Yarn_Count'].str.split(',', expand = True)[1].apply(lambda x: count_converter(x))

In [90]:
df['yarn_count_tex_3']= df['Yarn_Count'].str.split(',', expand = True)[2].apply(lambda x: count_converter(x))

In [91]:
def stitich_splitter(x):
    try:
        if ',' in x:
            return float(x.split(',')[0])
        else:
            return float(x)
    except:
        return x

In [92]:
df['stitich_1']= df['Stich'].str.split('/', expand = True)[0].str.strip().apply(lambda x: stitich_splitter(x))

In [93]:
# data['stitich_1']= 
df['stitich_2']= df['Stich'].str.split('/', expand = True)[1].str.strip().apply(lambda x: stitich_splitter(x))

In [94]:
df['stitich_3']= df['Stich'].str.split('/', expand = True)[2].str.strip().apply(lambda x: stitich_splitter(x))

In [98]:
# data['m/c_gauge']

In [99]:
# data['stitich_1']

In [96]:
def calculating_tightness_factor(x):
    stitch = x['stitich_1']/10
    tf = np.sqrt(x['yarn_count_tex_1'])/ stitch
    return tf

In [97]:
df['tightness_factor']= df.apply(lambda x: calculating_tightness_factor(x), axis=1)

In [98]:
def calculation_tex_from_gauge(x):
    tex = 100/x['m/c_gauge']
    return tex**2

In [103]:
# data[['tightness_factor', 'contraction_1', 'contraction_2']]

In [104]:
# data['Construction_cleaned']

In [99]:
df['gauge_to_tex']= df.apply(lambda x: calculation_tex_from_gauge(x), axis=1)

In [100]:
df[['Construction_cleaned', 'GSM', 'yarn_count_tex_1','yarn_count_tex_2', 
      'yarn_count_tex_3', 'gauge_to_tex']].head()

,Construction_cleaned,GSM,yarn_count_tex_1,yarn_count_tex_2,yarn_count_tex_3,gauge_to_tex
0,Flat Knit Rib,700,24.608333,NaN,NaN,51.020408
1,Flat Knit Rib,700,24.608333,NaN,NaN,51.020408
2,Flat Knit Rib,700,24.608333,NaN,NaN,51.020408
3,Flat Knit,700,24.608333,NaN,NaN,51.020408
4,Flat Knit,700,24.608333,NaN,NaN,51.020408

In [107]:
# data['yarn_count_1'].tail(20)

In [101]:
composition_table = df['Composition_filled'].value_counts()<40
# composition_table

In [102]:
df['composition_']= df['Composition_filled'].apply(lambda x: 'other' if composition_table[x] else x)

In [103]:
def composition_shorter(x):
    if 'cotton' in x.lower() and '100' in x.lower():
        return 'Cotton'
    elif 'polyes' and '100' in x.lower():
        return'Polyester'
    elif 'cvc' in x.lower():
        return 'Polyester'
    elif ('cotton' or 'ctn') in x.lower() and ('polyester' or 'poly' ) in x.lower():
        return 'Cotton_Polyester'
    elif 'ctn' and 'poly' in x.lower():
        return 'Cotton_Polyester'
    elif 'cotton' and 'span' in x.lower():
        return 'Cotton_Elastan'
    elif ('cotton' or 'ctn' in x.lower()) and ('elast' or 'ly' or 'span') in x.lower() :
        return 'Cotton_Elastan'
    
    elif 'cotton' and 'viscose' in x.lower():
        return 'Cotton_Viscose'
    else:
        return 'other_cotton_blend'

In [104]:
df['composition_sorted']= df['Composition_filled'].apply(lambda x: composition_shorter(x))

In [105]:
composition_shorter('Polyester 100%')

'Polyester'

In [106]:
df.iloc[10152, :]

M/C Brand                                 Fukuhara
Production Date                        17-08-2022
M/C Dia & Gauge                            38 X 18
Body Part                                  Binding
Booking Type                  Sample Without Order
Lot                                      ASL-818-6
Construction                               1x1 RIB
Composition                        Polyester 100%
Color                      NAVY PEONY TCX 19-4029
Color Range                          Medium Color
Stich                                        2.50
Dia                                             66
GSM                                           220
SHIFT-A                                        0.0
SHIFT-B                                       12.5
SHIFT-C                                        0.0
Without Shift(Outbound)                        0.0
Shift Total                                   12.5
Machine Total                                  0.0
Reject Qty                                     NaN
Yarn_Count                                150D/48F
Yarn_count_length                                1
Construction_cleaned                       1x1 RIB
Composition_filled                 Polyester 100%
Color_filled               NAVY PEONY TCX 19-4029
month                                            8
m/c_dia                                         38
m/c_gauge                                       18
fabric_dia_1                                    66
fabric_dia_2                                    66
contraction_1                             1.736842
contraction_2                             1.736842
contraction                               1.736842
number_of_feeders                              114
yarn_count_1                              150D/48F
yarn_count_tex_1                          1.666667
yarn_count_tex_2                               NaN
yarn_count_tex_3                               NaN
stitich_1                                      2.5
stitich_2                                     None
stitich_3                                      NaN
tightness_factor                          5.163978
gauge_to_tex                             30.864198
composition_                       Polyester 100%
composition_sorted                       Polyester
Name: 10152, dtype: object

In [107]:
def construction_shorter(x):
    if 'ri' in x.lower():
        return 'Rib'
    elif 'fleece' in x.lower() or 'terry' in x.lower():
        return 'Fleece_terry'
    elif ('s/j' in x.lower())  and ('l' not in x.lower()) :
        return 'S/J'
    elif 'jers' in x.lower():
        return 'S/J'
    elif 'l' and 's/j' in x.lower():
        return 'LS/J'
    elif 'inter' in x.lower():
        return 'Interlock'
    elif 'mesh' in x.lower():
        return 'Mesh'
    elif 'pique' in x.lower():
        return 'Pique'
    else:
        return 'other'

In [108]:
# data['composition_sorted']= 
df['construction_sorted']= df['Construction_cleaned'].apply(lambda x: construction_shorter(x))

In [109]:
def body_part_shorter(x):
    if 'Main Fabric Bottom' == x or 'bottom' in x.lower():
        return 'Bottom'
    elif 'top' in x.lower():
        return 'Top'
    elif 'body' in x.lower() :
        return 'Body'
    elif 'rib' in x.lower() :
        return 'Rib'
    elif 'neck' in x.lower():
        return 'Rib'
    elif 'collar' in x.lower():
        return 'Rib'
    elif 'cuff' in x.lower():
        return 'Rib'
    else: 
        return 'other'

In [110]:
df['body_part_sorted']= df['Body Part'].apply(lambda x: body_part_shorter(x))

In [111]:
def stitch_2_cleaner(x):
    try:
        return float(x)
    except:
        try:
            return float(x.strip('.'))
        except:
            try:
                if 'CM' in x:
                    try:
                        return float(x[:3])/10
                    except:
                        return x.split('-')[1][:3] 
                
                elif '..' in x:
                    return float(x.replace('..','.'))                    
            except :
                return x

In [112]:
df['stitich_2'] = df['stitich_2'].apply(lambda x: stitch_2_cleaner(x)).astype(float)

In [113]:
df['GSM']= df['GSM'].astype(int)

In [117]:
df.columns

Index(['M/C Brand', 'Production Date', 'M/C Dia & Gauge', 'Body Part',
       'Booking Type', 'Lot', 'Construction', 'Composition', 'Color',
       'Color Range', 'Stich', 'Dia', 'GSM', 'SHIFT-A', 'SHIFT-B', 'SHIFT-C',
       'Without Shift(Outbound)', 'Shift Total', 'Machine Total', 'Reject Qty',
       'Yarn_Count', 'Yarn_count_length', 'Construction_cleaned',
       'Composition_filled', 'Color_filled', 'month', 'm/c_dia', 'm/c_gauge',
       'fabric_dia_1', 'fabric_dia_2', 'contraction_1', 'contraction_2',
       'contraction', 'number_of_feeders', 'yarn_count_1', 'yarn_count_tex_1',
       'yarn_count_tex_2', 'yarn_count_tex_3', 'stitich_1', 'stitich_2',
       'stitich_3', 'tightness_factor', 'gauge_to_tex', 'composition_',
       'composition_sorted', 'construction_sorted', 'body_part_sorted'],
      dtype='object')

In [118]:
df.head(3)

,M/C Brand,Production Date,M/C Dia & Gauge,Body Part,Booking Type,Lot,Construction,Composition,Color,Color Range,...,yarn_count_tex_3,stitich_1,stitich_2,stitich_3,tightness_factor,gauge_to_tex,composition_,composition_sorted,construction_sorted,body_part_sorted
0,Fukuhara,01-06-2022,52 X 14,Collar,Main,MGF-SS-8,Flat Knit Rib,Cotton 100%,PURE WHITE 00010,White Color,...,NaN,4.75,NaN,NaN,10.443534,51.020408,Cotton 100%,Cotton,Rib,Rib
1,Fukuhara,01-06-2022,52 X 14,Cuff,Main,MGF-SS-8,Flat Knit Rib,Cotton 100%,PURE WHITE 00010,White Color,...,NaN,4.75,NaN,NaN,10.443534,51.020408,Cotton 100%,Cotton,Rib,Rib
2,Fukuhara,01-06-2022,52 X 14,Collar 1,Main,MGF-63,Flat Knit Rib,Cotton 100%,CHARCOAL HEATHER - 00009,Wash,...,NaN,4.75,NaN,NaN,10.443534,51.020408,Cotton 100%,Cotton,Rib,Rib

In [121]:
df.isna().sum()

M/C Brand                      0
Production Date                0
M/C Dia & Gauge                0
Body Part                      0
Booking Type                   0
Lot                            0
Construction                   0
Composition                   52
Color                          4
Color Range                    0
Stich                          0
Dia                            0
GSM                            0
SHIFT-A                        0
SHIFT-B                        0
SHIFT-C                        0
Without Shift(Outbound)       52
Shift Total                    0
Machine Total                359
Reject Qty                  4448
Yarn_Count                     0
Yarn_count_length              0
Construction_cleaned           0
Composition_filled             0
Color_filled                   0
month                          0
m/c_dia                        0
m/c_gauge                      0
fabric_dia_1                   0
fabric_dia_2                   0
contraction_1                  0
contraction_2                  0
contraction                    0
number_of_feeders              0
yarn_count_1                   0
yarn_count_tex_1               0
yarn_count_tex_2            7697
yarn_count_tex_3           11615
stitich_1                      0
stitich_2                   6521
stitich_3                  11423
tightness_factor               0
gauge_to_tex                   0
composition_                   0
composition_sorted             0
construction_sorted            0
body_part_sorted               0
dtype: int64

In [120]:
# df[['Color Range', 'Color_filled']]

In [122]:
columns = ['M/C Brand', 'Production Date', 'M/C Dia & Gauge', 'Body Part',
       'Booking Type', 'Lot', 'Color Range', 'Stich', 'Dia', 'GSM', 'SHIFT-A', 'SHIFT-B', 'SHIFT-C',
       'Without Shift(Outbound)', 'Shift Total', 'Machine Total', 'Reject Qty',
       'Yarn_Count', 'Yarn_count_length', 'Construction_cleaned',
       'Composition_filled', 'Color_filled', 'month', 'm/c_dia', 'm/c_gauge',
       'fabric_dia_1', 'fabric_dia_2', 'contraction_1', 'contraction_2',
       'contraction', 'number_of_feeders', 'yarn_count_1', 'yarn_count_tex_1',
       'yarn_count_tex_2', 'yarn_count_tex_3', 'stitich_1', 'stitich_2',
       'stitich_3', 'tightness_factor', 'gauge_to_tex', 'composition_',
       'composition_sorted', 'construction_sorted', 'body_part_sorted']

In [126]:
data = df[columns]

In [127]:
data.to_csv('Final_dataset_cleaned_2024.csv', index= False)